<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.is2.mygestorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/mygestorapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode"
        android:windowSoftInputMode="adjustResize">

        <activity
            android:name="com.is2.mygestorapp.Inicio"
            android:label="@string/app_name"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.is2.mygestorapp.Login"/>
        <activity android:name="com.is2.mygestorapp.Registration"/>
        <activity
            android:name="com.is2.mygestorapp.Homepage"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
        </activity>


    </application>

</manifest>